.projects {
    margin-bottom: 80px;
}

.projects__block {
    margin-bottom: 30px;
}

.projects__title {
    color: var(--black);
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    margin-bottom: 16px;
}

.projects__descr {
    max-width: 67.5%;
    color: var(--black);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.projects__partners-title {
    color: var(--black);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 16px;
}

.projects__partners-img {
    padding: 27px;
    padding-bottom: 19px;
    border: 1px solid #CACACA;
}

.projects__partners-img:not(:last-child) {
    margin-right: 32px;
}

.project-br {
    display: none;
}

.project-br-mob {
    display: none;
}

@media (max-width: 1248px) {

    .projects__block {
        margin-bottom: 18px;
    }

    .projects__descr {
        max-width: 100%;
    }

    .projects__partners-img:not(:last-child) {
        margin-right: 24px;
    }
}

@media (max-width: 960px) {

    .projects__block {
        margin-bottom: 28px;
    }

    .projects__partners-title {
        margin-bottom: 29px;
    }

    .projects__partners-img:not(:last-child) {
        margin-right: 34px;
    }

    .projects__partners-img {
        padding-bottom: 26px;
    }

    .project-br {
        display: block;
    }
}

@media (max-width: 646px) {

    .projects {
        margin-bottom: 50px;
    }

    .projects__title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 13px;
    }

    .projects__block {
        margin-bottom: 20px;
    }

    .projects__partners-title {
        font-size: 18px;
        margin-bottom: 11px;
    }

    .projects__partners-block {
        flex-direction: column;
    }

    .projects__partners-img {
        text-align: center;
    }

    .projects__partners-img:not(:last-child) {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .project-br {
        display: none;
    }

    .project-br-mob {
        display: block;
    }
}