.contact {
    display: flex;
    align-items: center;
    max-width: 450px;
    width: 100%;
    margin-bottom: 15px;
}

.contact__type {
    position: relative;
}

.contact__name {
    height: 37px;
    max-width: 123px;
    min-width: 123px;
    position: relative;
    padding: 10px 12px;
    padding-right: 60px;
    cursor: pointer;
    border: 1px solid var(--grey-suit);
    border-right: none;
    background-color: var(--grey-ligth);
    color: var(--black);
}

.contact__name::before {
    content: '';
    position: absolute;
    right: 6px;
    top: 13px;
    width: 10px;
    height: 10px;
    background-image: url('../img/arrow_contact.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform .3s ease-in-out;
}

.contact__name:hover {
    background-color: var(--grey-suit);
    transition: background-color .3s ease-in-out;
}

.contact__name:active {
    background-color: var(--grey-ligth);
    transition: background-color .3s ease-in-out;
}

.contact__list--active.contact__name::before {
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;
}

.contact__list {
    z-index: 30;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    max-width: 123px;
    min-width: 123px;
    top: 36px;
    left: 0;
    display: none;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    background-color: var(--grey-aeth);
    border: 1px solid var(--grey-suit);

}

.contact__list.contact__list--active {
    display: block;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.contact__item {
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 7px;
    padding-left: 12px;
    transition: background-color .3s ease-in-out;
}

.contact__item:hover {
    transition: background-color .3s ease-in-out;
    background-color: var(--grey-ligth);
}

.contact__input {
    background-color: transparent;
    outline: none;
    padding-left: 12px;
    width: 100%;
    height: 37px;
    display: block;
    border: 1px solid var(--grey-suit);  
}

.contact__input.contact__input--border {
    border-right: none;
}

.contact__delete {
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 37px;
    align-self: stretch;
    background-color: var(--grey-ligth);
    border: 1px solid var(--grey-suit);
    transition: border-color .3s ease-in-out;
    color: white;
}

.contact__delete svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: #B0B0B0;
    transition: fill .3s ease-in-out;
}

.contact__delete svg path {
    transition: fill .3s ease-in-out ;
}

.contact__delete:hover {
    border-color: tomato;
    transition: border-color .3s ease-in-out ;
}

.contact__delete:hover svg path{
    fill: tomato;
    transition: fill .3s ease-in-out ;
}

.contact-tooltip {
    font-size: 14px;
}

.contact__delete:hover .contact-tooltip {
   opacity: 1;
   visibility: visible;
   transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.contact__delete .contact-tooltip {
    min-width: 150px;
    top: -30px;
}

.contacts__link {
    position: relative;
    margin-right: 5px;
    opacity: 0.7;
    transition: opacity .3s ease-in-out;
}

.contacts__link:focus {
    outline: none;
}

.contacts__link:hover {
    opacity: 1;
}

.contact-btn {
    position: absolute;
    padding: -2px;
    top: 23px;
    right: 29px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--violet);
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.contact-btn:hover {
    background-color: var(--violet);
    color: white;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

@media(max-width: 999px) {
    .contact-btn {
        top: 25px;
        right: 20px;
    }
}

@media(max-width: 870px) {
    .contact-btn {
        right: 12px;
    }
}

@media(max-width: 810px) {
    .contact-btn {
        right: 25px;
    }
}

@media(max-width: 576px) {

    .contact {
        padding: 0 15px;
    }

    .modal__add-block {
        max-height: 200px;
        padding: 0 0;
    }

    .contact__list {
        max-width: 110px;
        min-width: 110px;
    }

    .contact__name {
        max-width: 110px;
        min-width: 110px;
    }
}