.preloader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
  }

.loader {
  animation: spinner .3s ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader svg {
    width: 36px;
    height: 36px;
    stroke: var(--violet);
    fill: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
  
  
  
  
  
  